{% extends 'base.html' %}
{% load static %}


{% block content %}



  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/1.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Vestibulum condimentum, risus sedones honcus rutrum, Right!</h2>
                <p data-animation="fadeInUp" data-delay="300ms">Vestibulum condimentum, risus sedones honcus rutrum, salah lacus mollis zurna, nec finibusmi velit advertisis. Proin vitae odin quis magna aliquet laciniae. Etiam auctor, nisi vel. Pellentesque ultrices nisl quam iaculis, nec pulvinar augue.</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/2.png' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Vestibulum condimentum, risus sedones honcus rutrum.</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Vestibulum condimentum. Pellentesque ultrices nisl quam iaculis, nec pulvinar augue.</p>
                <div class="welcome-btn-group">
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                  <a href="#" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/dentist.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>We are</h2>
              <div class="line"></div>
            </div>
            <p>Vestibulum condimentum, risus sedones honcus rutrum, salah lacus mollis zurna, nec finibusmi velit advertisis. Proin vitae odin quis magna aliquet laciniae. Etiam auctor, nisi vel. Pellentesque ultrices nisl quam iaculis, nec pulvinar
              augue.</p>

            <!-- Single Skills Area -->
            <!-- <div class="single-skills-area mt-30">
              <h6>Experience Dentist</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="80"></span>
              </div>
            </div> -->

            <!-- Single Skills Area -->
           <!--  <div class="single-skills-area mt-30">
              <h6>Modern Equipment</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div> -->

            <!-- Single Skills Area -->
           <!--  <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">8</span></h2>
            <h5>Years Of Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">20</span>+</h2>
            <h5>Happy Clients</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">25</span>3</h2>
            <h5>Achievements</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">10</span></h2>
            <h5>Experts</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/13.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Our Services</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.jpg' %}" alt="">
                  <h6>Software Design & Development</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s2.jpg' %}" alt="">
                  <h6>IoT Firmware Design & Development</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s3.jpg' %}" alt="">
                  <h6>Data Science & Business Intelligence</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s4.jpg' %}" alt="">
                  <h6>Electrical engineering</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s5.jpg' %}" alt="">
                  <h6>Civil Engineering</h6>
                </div>
              </div>

              <!-- Single Service -->
             <!--  <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/s1.jpg' %}" alt="">
                  <h6>Civil Engineering</h6>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oqw2Y9ogAbc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Dento Projects Table Area Start -->
  <section class="dento-projects-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Projects</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Diagnostique et résolution de panne électrique</td>
                  <td>Identification, résolution de problèmes majeurs sur la distribution électrique sur trois bâtiments partageant la même distribution électrique.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Aménagement de bureaux</th>
                  <td>Relèves du bâtiment , et réalisation des plans de services et d’éclairage existant modifié ,calcul d’éclairage et recommandation des appareils convenables qui respectent les standards du client</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Émission de divers certification “Arc-Flash”</th>
                  <td>Émission de divers certification “Arc-Flash” pour Sandoz Canada, INRS LavalHôpital de Saint-Jérôme.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Conception en éclairage</th>
                  <td>Projet majeur de conception d’éclairage pour le Perform Center de l’université de concordia ,calcul d’éclairage ,respect des niveaux et standard Concordia et choix des appareils convenables .</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Relevé et schéma électrique unifilaire</th>
                  <td>Divers projet d’élaboration de schéma unifilaire de réseau électrique complexe. Hôpital de Saint-Jérôme, Sandoz canada, Héma-Québec .</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Développement d’un réseau de capteurs sans fil</th>
                  <td>Développement d’un réseau de capteurs sans fil mesurant la pression et la température
                    Pour des érablières en collaboration avec la compagnie Sysacom R&D Plus Inc.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Transmission de l'information</th>
                  <td>Développement d'une application client serveur en C++,modèle OSI,modèle internet,couche réseau , routage par circuit virtuel et par paquet,adressage , protocole IP,couche de transport ,multiplexage et démultiplexage ,protocole TCP,UDP,détection et correction d'erreur ,encryptage et codage de source LZ77.</td>
                  <td>Electrical Engineering </br></br> Software Design & Development</td>
                </tr>
                <tr>
                  <th scope="row">Développement d'un site web Développement d’un bot intelligent</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception d’un robot avec un système de reconnaissance vocale</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un microphone sans fil pour la bande FM</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un système de filtrage audio</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un système sonar</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Project: Statistical study about greenhouse gas emission in Paris metropolitan.</th>
                  <td>Part 1 : Estimate population exposition to greenhouse emission.
                  </br></br>Part 2 : Anticipate car critical situation when the car tending side-slip.</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Option pricing models and Method of Mont Carlo</th>
                  <td>- Modelisation of asset price
                  </br></br>- Stochastic differential equations
                </br></br> - Euler discretization
              </br></br>- Mont Carlo</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">actuarial/insurance</th>
                  <td>- Evaluate mortality risk
                  </br></br> - Quantified the financial risk related to asset fluctuation
                </br></br>- Quantified the impact of different parameters on the provision
              </br></br>- Implement stochastic model and deterministic model to prevent future risk
            </br></br> - Quantified the impact of different parameters on the provision</td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Projects Table Area End -->

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/12.png' %}');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="First Choice Appoinment Time">First Choice Appoinment Time</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      <option value="8 PM to 10 PM">8 PM to 10 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-date" class="form-control">
                      <option value="Choose Your Date">Choose Your Date</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <!-- <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row"> -->
        <!-- Section Heading -->
        <!-- <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Dentist</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row"> -->
        <!-- Single Dentist Area -->
       

        <!-- Single Dentist Area -->
        <!-- <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/10.png' %}" alt=""> -->
            <!-- Dentist Content -->
            <!-- <div class="dentist-content"> -->
              <!-- Social Info -->
              <!-- <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div> -->
              <!-- Dentist Info -->
              <!-- <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Single Dentist Area -->
        <!-- <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/11.png' %}" alt=""> -->
            <!-- Dentist Content -->
            <!-- <div class="dentist-content"> -->
              <!-- Social Info -->
              <!-- <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div> -->
              <!-- Dentist Info -->
              <!-- <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ***** Dento Dentist Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/4.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">How your mouth bacteria can harm your lungs</a>
              <p>Donec tempor, lorem et euismod eleifend, est lectus laoreet ante, sed accusan justo diam ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

 
 {% endblock %}