{% extends 'base.html' %}
{% load static %}
{% block title %}BeIt Projects{%endblock %}
{% block meta_description %}Find our current prices for all major Dental Procedures.{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Our Projects</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Projects</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Dento projects Table Area Start ***** -->
  <section class="dento-projects-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Diagnostique et résolution de panne électrique</td>
                  <td>Identification, résolution de problèmes majeurs sur la distribution électrique sur trois bâtiments partageant la même distribution électrique.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Aménagement de bureaux</th>
                  <td>Relèves du bâtiment , et réalisation des plans de services et d’éclairage existant modifié ,calcul d’éclairage et recommandation des appareils convenables qui respectent les standards du client</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Émission de divers certification “Arc-Flash”</th>
                  <td>Émission de divers certification “Arc-Flash” pour Sandoz Canada, INRS LavalHôpital de Saint-Jérôme.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Conception en éclairage</th>
                  <td>Projet majeur de conception d’éclairage pour le Perform Center de l’université de concordia ,calcul d’éclairage ,respect des niveaux et standard Concordia et choix des appareils convenables .</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Relevé et schéma électrique unifilaire</th>
                  <td>Divers projet d’élaboration de schéma unifilaire de réseau électrique complexe. Hôpital de Saint-Jérôme, Sandoz canada, Héma-Québec .</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Développement d’un réseau de capteurs sans fil</th>
                  <td>Développement d’un réseau de capteurs sans fil mesurant la pression et la température
                    Pour des érablières en collaboration avec la compagnie Sysacom R&D Plus Inc.</td>
                  <td>Electrical Engineering</td>
                </tr>
                <tr>
                  <th scope="row">Transmission de l'information</th>
                  <td>Développement d'une application client serveur en C++,modèle OSI,modèle internet,couche réseau , routage par circuit virtuel et par paquet,adressage , protocole IP,couche de transport ,multiplexage et démultiplexage ,protocole TCP,UDP,détection et correction d'erreur ,encryptage et codage de source LZ77.</td>
                  <td>Electrical Engineering </br></br> Software Design & Development</td>
                </tr>
                <tr>
                  <th scope="row">Développement d'un site web Développement d’un bot intelligent</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception d’un robot avec un système de reconnaissance vocale</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un microphone sans fil pour la bande FM</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un système de filtrage audio</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Conception et réalisation d'un système sonar</th>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Project: Statistical study about greenhouse gas emission in Paris metropolitan.</th>
                  <td>Part 1 : Estimate population exposition to greenhouse emission.
                  </br></br>Part 2 : Anticipate car critical situation when the car tending side-slip.</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Option pricing models and Method of Mont Carlo</th>
                  <td>- Modelisation of asset price
                  </br></br>- Stochastic differential equations
                </br></br> - Euler discretization
              </br></br>- Mont Carlo</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">actuarial/insurance</th>
                  <td>- Evaluate mortality risk
                  </br></br> - Quantified the financial risk related to asset fluctuation
                </br></br>- Quantified the impact of different parameters on the provision
              </br></br>- Implement stochastic model and deterministic model to prevent future risk
            </br></br> - Quantified the impact of different parameters on the provision</td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Projects Table Area End ***** -->

  


{% endblock %}